**/*.csv
**/*.h5ad
**/*.ipynb_checkpoints
**/*.ipynb_checkpoints/
**/*.slurm
**/*.npz
**/*.pth
**/__pycache__/
**/*.err
**/*.out
**/*.png
**/*.tsv
**/*.pt
**/*.txt
**/*.pickle
**/*.svg
**/*.npy
**/*.gif
**/*.json
